.header_top_massege p {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  padding: 0 16px;
  letter-spacing: 0.5px;
}
.header_top_massege p {
  padding: 0 16px;
  letter-spacing: 0.5px;
}
.classic_header {
  background-image: url(/assets/images/Path5.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 83%;
  margin-right: 0px !important;
  margin: 0px auto;
}
.header_top {
  padding: 5px 0;
}
