.mattresspage {
  color: #00b2bd;
  font-weight: 800;
  font-size: 44px;
  font-size: 44px;
  margin-top: 50px;
}
.mtresp p {
  color: #fff;
  font-size: 15px;
}
.ShopMobile button {
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: #ffffff;
  padding: 9px 27px 9px 27px;
  background-color: #ec9e17;
  border-radius: 42px;
  font-size: 16px;
  font-weight: 300;
  border: none;
}
.mtrsBannr {
  background-image: url(/assets/images/banner/Group487.svg);
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtrs2Sction {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}
