.section1 ul {
    display: flex;
}
.aboutussectioncontent ul {
    display: block !important;
}
.aboutussectioncontent ul li img {
    width: 100%;
}
.section1 ul li:nth-child(1){
    width: 33.3333%;
}
.aboutussectioncontent3 ul li img {
    width: 380px;
}
.aboutussectioncontent3 ul {
    display: block;
}
.aboutussectioncontent3 ul li:nth-child(1) {
    width: auto;
}
.aboutuslastcontent h1 {
    font-size: 22px;
    color: #000;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;    
}
.aboutuslastcontent p {
    font-size: 18px;
    font-weight: 400;
    color: #4B4B6F;    
}
@media (max-width:500px) {
    .aboutuslastcontent h1 { 
        text-align: center;
    }
    .aboutus_section1__aHqBj ul li:nth-child(1) { 
        width: 100% !important;
    }
}