.item3 {
  width: 65%;
  padding-left: 32px;
}

.item4 {
  width: 35%;
}

.cart_heading h1 {
  font-weight: 600;
  color: #0e3f70;
  font-family: sofia-pro, Helvetica, Arial, sans-serif;
}

.text_center {
  text-align: center !important;
}

.first_boxcart h5 {
  color: rgb(14, 63, 112);
  font-weight: 600;
  margin: 10px;
}

.bg_white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  margin: 10px;
}
.boxfirst_cart {
  h4 {
    font-size: 21px;
    color: #204697;
    font-family: sofia-pro, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}

.boxfirst_cartul li {
  list-style: unset;
  color: #00b2bd;
  margin: 10px;
}

.boxfirst_cart {
  padding: 22px 42px;
  -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 13%);
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 13%);
}

.first_boxcart {
  display: flex;
  width: 100%;
}

.item3 h5 {
  margin: 13px;
}
.boxfirst_cart ul li {
  list-style: disc !important;
}

.row {
  display: flex;
}

.item {
  width: 100;
  background-color: rgb(243, 243, 248);
}

.item1 {
  width: 60%;
  margin-top: 40px;
}

.item2 {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  background-color: #fff;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.under ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.under ul li {
  width: 100%;
}

.under ul li label {
  display: block;
}

.under ul li input {
  border: 2px solid #bfbfbf;
  width: 100%;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  font-size: 15px;
  width: 100%;
  background: 0 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  text-align: left;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-left: 20px;
  padding-right: 10px;
  outline: 0;
}

.under ul li textarea {
  height: 80px;
}

.shopping_page a {
  color: #fff !important;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  background: #041f5d;
  padding: 10px 18px 14px 18px;
  border-radius: 30px;
  line-height: 75px;
}

.button {
  display: block;
  margin: 0px auto;
  width: fit-content;
  margin-top: 40px;
}

.contact_form2 {
  padding-left: 32px;
}

.text_area {
  resize: none;
  width: 100%;
  background-color: rgb(243, 243, 248);
}

.billformbox {
  .billform {
    padding: 30px;
    h3 {
      color: rgb(14, 63, 112);
      font-weight: 600;
      padding: "0 30px";
    }
    button {
      border: 1px solid #000;
      padding: 8px 30px;
      text-transform: uppercase;
      // background: #000;
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
      text-decoration: none;
      background: #041f5d;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 100%;
        // label {
        //   display: block;
        //   margin-bottom: 15px;
        // }
      }
      input,
      select,
      textarea {
        background: #fff;
      }
      // input {
      //   display: inline-block;
      //   line-height: 50px;
      //   height: 50px;
      //   font-size: 15px;
      //   width: 100%;
      //   background: 0 0;
      //   border-radius: 0;
      //   -webkit-border-radius: 0;
      //   text-align: left;
      //   box-shadow: none;
      //   -webkit-box-shadow: none;
      //   padding-left: 20px;
      //   padding-right: 10px;
      //   outline: 0;
      //   border: 2px solid #bfbfbf;
      //   margin-bottom: 15px;
      // }
      // textarea {
      //   display: inline-block;
      //   line-height: 50px;

      //   font-size: 15px;
      //   width: 100%;
      //   background: 0 0;
      //   border-radius: 0;
      //   -webkit-border-radius: 0;
      //   text-align: left;
      //   box-shadow: none;
      //   -webkit-box-shadow: none;
      //   padding-left: 20px;
      //   padding-right: 10px;
      //   outline: 0;
      //   border: 2px solid #bfbfbf;
      //   margin-bottom: 15px;
      // }
      .countryname {
        font-size: 20px;
        color: rgb(14, 63, 112);
        font-weight: 700;
      }
    }
  }
}

.check {
  // padding: 20px;
  width: 400px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 13%) !important;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
}

.checkform {
  box-sizing: border-box;
  width: 400px;
  background: #00b2bd;
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 13%) !important;
  border-radius: 5px;

  p {
    color: #fff;
  }
}

.checkord {
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  background-color: #fff;
  color: #3a356d;
  width: 261px;
  margin-left: 46px;
  margin-top: 14px;
  padding: 11px;
  font-weight: 500;
  border-radius: 28px;
}

.checkpro {
  cursor: pointer;
  border: 0;
  padding: 15px;
  background: #42a2a2;
  border-radius: 5px;
  font-size: 16px;
  font-family: montserrat, sans-serif;
  line-height: 18px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 2px 0px !important;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 5px;

  p {
    color: #fff;
  }
}
.Cart_finalCheckout {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Cart_text {
  padding: 20px;
}
.Cart_text p:nth-child(1) {
  font-size: 18px !important;
}
.Cart_text p:nth-child(2) {
  font-size: 16px;
}
.Cart_text p {
  padding: 20px 10px;
  width: 100%;
  border: none;
  background-color: #fff;
}
.CartItems_buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-top: 2px solid rgba(0, 0, 0, 0.04);
  border-right: 2px solid rgba(0, 0, 0, 0.04);
  background-color: white;
  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: 0px;
  border-radius: 0px 0px 5px 5px;
  // padding: 15px 10px;
  color: gray;
  margin: 0;

  button {
    border: none;
    background-color: transparent;
    color: gray;
  }
  .removebutton {
    color: gray;
    padding: 15px 10px;
  }
}

.bagitem {
  color: rgb(14, 63, 112);
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.colorchange {
  color: rgb(0, 178, 189);
}

.dropdown {
  height: 35px;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
  width: 48px;
}
.MuiSvgIcon_root {
  fill: currentColor;
  /* width: 1em; */
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiSvgIcon_fontSizeSmall {
  font-size: 1.25rem;
  border-radius: 10px;
  background: #00b2bd;
  color: #fff;
  position: relative;
}
.CartItems_buttons1 {
  width: 40%;
  border-right: 2px solid rgba(0, 0, 0, 0.04);
}
.check1 {
  padding: 30px;
}
