@import "./mixin/media-query";

/***********************************************
 HEADER STYLE
***********************************************/
$tab: 768px;

.header {
  display: flex;
  flex-direction: column;
}
.container {
  padding: 2px 0px 6px;
  background-color: #f2f2f2;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.inner-container {
  display: flex;
  align-items: center;
  max-width: 90%;
  flex: 1;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image-container {
  display: flex;
  align-items: center;
  img {
    max-width: 100%;
  }
}
.topheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.contact-container,
.account-container {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    li {
      color: var(--primary-color);
      list-style: none;
      font-size: 12px;
      font-weight: 600;
      text-transform: capitalize;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    li span {
      display: flex;
      align-items: center;
      svg {
        fill: var(--primary-color);
      }
    }
  }
}
@include media-query(null, 900px) {
  .contact-container {
    display: none;
  }
}
@include media-query(null, 475px) {
  .contact-container {
    display: none;
  }
  .account-container .text {
    display: none;
  }
}

// SEARCH CONTAINER
.search-container {
  flex: 1;
  display: grid;
  ul {
    margin: 0;
  }
}

.search-container .item-grid {
  display: flex;
  align-items: center;
}

.searchbar {
  flex: 1;
  position: relative;
  display: flex;
  // padding-left: 10px;
  // height: 50px;
  border-radius: 6px;
  // overflow: hidden;
  input[type="text"] {
    border: 2px solid rgba(128, 128, 128, 0.3);
    border-right: none;
    padding: 0px;
    outline: none;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 6px 0 0 6px;
    // border-radius: 44px 0px 0px 44px;
    &::placeholder {
      font-size: 12px;
      font-weight: 500;
      padding-left: 18px;
    }
  }
  button {
    border: 0px;
    padding: 10px;
    padding: 0px 16px;
    border-radius: 0 6px 6px 0;
    background: #222178;
  }
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  ul {
    display: flex;
    gap: 10px;
  }
  ul li {
    min-width: 55px;
  }
  li,
  a {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 2px;
    cursor: pointer;
    flex: 1;
  }
  p,
  a {
    margin: 0;
    font-size: 0.7rem;
    color: var(--primary-color);
  }
}

.menu-bar {
  display: none;
}
@include media-query(null, 768px) {
  .menudiv {
    display: none;
  }
  .search-container {
    padding: 0.5rem 0;
  }
  .searchbar {
    display: none;
  }
  .controls ul {
    gap: 0.3rem;
  }
  .controls ul li {
    min-width: unset;
    padding: 0.2rem;
    p {
      display: none;
    }
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .controls .menu-bar {
    display: flex;
  }

  // MENU BAR
  .menu-bar {
    display: flex;
    flex: 1;
    align-items: center;
    button {
      width: 40px;
      height: 40px;
      padding: 0.2rem;
      background: transparent;
    }
  }
}

//
.firstbox {
  p {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.menudiv {
  font-weight: 500;
  line-height: 50px;
}
.mainlogo {
  img {
    position: relative;
    right: -77px;
    top: 0px;
    width: 294px;
  }
}
.carticon {
  ul {
    display: flex;
    justify-content: center;

    li {
      margin-left: 45px;
      list-style: none;
      .wishlist {
        p {
          margin-left: -18px;
          font-size: 14px;
        }
      }
      img {
        width: 25px;
        margin-top: 40px;
        height: 22px;
      }
    }
  }
}
.drop {
  display: none;

  ul {
    display: block;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 32px;
    border-bottom: 1px solid #8080804d;
    padding-bottom: 14px;
    color: #1414af;
  }

  li {
    padding-bottom: 12px;
  }
  p {
    font-weight: 700;
    color: #1414af;
  }
}
.dropdownmenu {
  img {
    width: 270px !important;
  }
  h2 {
    font-size: 15px;
    font-weight: 600;
    text-align: initial;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 260px;
    color: #1f3749;
    border-bottom: 1px solid #80808052;
  }
  ul {
    display: block;
    text-align: initial;
    line-height: 20px;
    li {
      a {
        color: #000 !important;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.dropmenulastfooter {
  height: 35px;
  margin-top: 20px;
  background-color: #1b344a;
  p {
    color: #fff !important;
  }
}

.navigation-model {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  position: absolute;
  transition: all 200ms ease;
  background: #00000078;
  flex-direction: column;
}

.navigation-content {
  flex: 1;
  width: 60%;
  background: #fff;
}

.navigation-model .close-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    border-radius: 100%;
    padding: 0.2rem;
    background: transparent;
  }
}
.image-container ul {
  display: flex;
  margin: 0;
  li {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 600;
    font-family: roboto, sans-serif;
    padding: 8px 0 0;
  }
}
.topheader1 {
  display: none;
}
.contact-container ul li {
  font-size: 16px;
  font-weight: 500;
}
.account-container ul li {
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}
.logo {
  padding-top: 10px;
}
.logo a img {
  width: 100px;
}
.controls ul p {
  font-size: 10px;
}
.text {
  font-size: 15px;
  padding-left: 8px;
}
.controls ul li {
  position: relative;
}
.texts {
  font-size: 9px;
}
.maintopheader {
  background-color: #222178;
} 
.maintopheadercontent p {
  color: #fff;
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: sofia-pro, Helvetica, Arial, sans-serif;
}

// STYLE FOR BADGE
.badge {
  position: absolute;
  font-style: normal;
  height: 18px;
  width: 18px;
  background: #222178;
  border-radius: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  top: -6px;
  right: -2px;
}
.topheader12 ul {
  display: flex;
  justify-content: space-around;
}
.topheader1 {
  background-color: #f2f2f2;
  padding: 10px 0 0 0;
}
@media (max-width: 500px) {
  .topheader1 {
    display: block;
  }
  .container {
    display: none;
  }
  .controls ul li:nth-child(1) {
    display: none;
  }
  .controls {
    margin-right: 20px;
  }
  .maintopheadercontent p { 
    width: 240px;
    margin: 0 auto;
    padding: 10px 0 6px 0;
    font-size: 12px;
  }
  .logo { 
    margin-left: 0 !important;
  }
}

// STYLE FOR NAVIGATION

.mainmenu .nav-container {
  display: flex;
  text-align: center;
  gap: 3rem;
  justify-content: center;
  .nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.nav-container ul ul {
  top: 100%;
  position: absolute;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition-delay: 10ms;
  background-color: #fff;
  transition: all 100ms ease;
}
/* Display Dropdowns on Hover */
.nav-container ul li:hover ul {
  display: flex;
  transition-delay: 10ms;
  transform: scaleX(1);
}

.nav-container .nav-links .link {
  a {
    text-transform: uppercase;
    color: #626363;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .tier-one-menu {
    display: flex;
    flex-direction: column;
    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      position: relative;
      a {
        font-size: 14px;
      }
      &:hover {
        background: rgb(100, 100, 100);
        a {
          color: rgb(255, 255, 255) !important;
        }
      }
    }

    li ul {
      border: 2px solid red;
      top: 0;
      left: 100%;
      position: absolute;
      z-index: 20;
      display: flex;
      flex-direction: column;
      display: none;
      a{
        white-space: nowrap;
      }
    }
    li:hover ul {
      background: #000000;
      display: flex;
    }
  }

}
@media (max-width:1200px) {
  .nav-container .nav-links .link a {
    font-size: 16px;
  }
  .logo {
    justify-content: end !important;
  }
}
@media (max-width:991px) {
  .nav-container .nav-links .link a {
    font-size: 10px;
  }
  .topheader1 {
    display: block;
  }
  .container {
    display: none;
  }
  .search-container {
    display: block;
  }
  .menudiv {
    display: none;
  }
  .menu-bar {
    display: block;
  }
  .menu-bar button {
    background: none;
  }
  .searchbar {
    display: none;
  }
  .controls ul li:nth-child(1){
    display: none;
  }
  .logo {
    justify-content: center;
  }
}